button {
    background-color: blue;
    color: white
}

textarea {
    width: 240px;
}

input {
    width: 120px;
}

label {
    width: 120px;
    display: inline-block;
    font-family: sans-serif;
    font-size: small;
}